{% extends "./atwis-renew.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-padding-top-0">Renewal</h2>
    <p class="govuk-body"><span class="govuk-!-font-weight-bold">Submission date:</span> 28/06/2018</p>
    
    <p>
      <span class="govuk-!-font-weight-bold">Full name:</span> {{ name }} <br />
      <span class="govuk-!-font-weight-bold">Date of birth:</span> 27/01/1962 <br />
      <span class="govuk-!-font-weight-bold">URN:</span> 123456789 <br />
    </p>

    <h3 class="govuk-heading-m">Changes</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li>Your job (where you work, what you do or your working hours)</li>
      <li>Your travel arrangements</li>
    </ul>
    <h3 class="govuk-heading-m">Contact details</h3>
    <p>
      <span class="govuk-!-font-weight-bold">Who do you want to be contacted about your renewal?</span> Someone else <br />
      <span class="govuk-!-font-weight-bold">Their name:</span> Michael Winners <br />
      <span class="govuk-!-font-weight-bold">Their phone number:</span> 07777 777777 <br />
      <span class="govuk-!-font-weight-bold">Their email address:</span> michael.winners@myjob.com
    </p>

    <div class="govuk-form-group">
      <a href="renewal-complete?n={{ name }}" class="govuk-button govuk-!-margin-top-9">Renewal processed in DiSC</a>
    </div>
  </div>
  
  <div class="govuk-grid-column-one-third">
    <div class="update-panel">
      <h3 id="update-adviser-heading" class="govuk-heading-m">Update adviser</h3>
      <select id="adviser-select" class="govuk-select govuk-!-margin-bottom-3" aria-labelledby="update-adviser-heading">
        {% for adviser in advisers %}
        <option value="{{ adviser }}" {% if advisers == 'Pan disability' %}selected="selected"{% endif %}>{{ adviser }}</option>
        {% endfor %}
      </select>
      {{ govukButton({
          attributes: {
            id: "update-adviser"
          },
          text: "Save",
          classes: "govuk-!-margin-bottom-0"
        }) }}
    </div>

    <script>
      window.addEventListener('load', function(){
        $('#update-adviser').on('click', function(){
          $('#banner-adviser').html($('#adviser-select').val());
        })
      })
    </script>
  </div>
</div>
{% endblock %}
