
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">ATWIS Prototype
        <span class="govuk-caption-xl">{{ releaseVersion }}</span>
      </h1>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/v1/your-cases">ATWIS - Allocate prototype  - v1</a>
        </li>
        <li>
          <a class="govuk-link" href="/v2/your-cases">ATWIS - Allocate prototype with Search - v2</a>
        </li>
        <li>
          <a class="govuk-link" href="/v3/your-cases">ATWIS - Renewals - v3</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
